{% extends 'dashboard/inc/master.html' %}
{% load static %}


{% block title %}
Your Data
{% endblock title %}

{% block customcss %}
<!--begin::Page Vendors Styles(used by this page) -->
<link href="{% static 'assets/plugins/custom/jstree/jstree.bundle.css' %}" rel="stylesheet" type="text/css" />
    <style>
        .inst-content-block p {
            font-size: 17px;
        }
        .inst-content-block li{
            font-size: 16px;
        }

        .vakata-context { z-index:10052 !important; }
    </style>
{% endblock customcss %}

{% block content %}


<!-- begin:: Content -->

<!-- Instructions Modal  -->
{% include "data_handler/inc/instructions_modal.html" %}
<!-- ./Instructions Modal  -->

<!-- Doner Data Files Modal  -->
{% include "data_handler/inc/doner_files_modal.html" %}
<!-- ./Doner Data Files Modal  -->

<br />
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-light alert-elevate" role="alert">
        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text">
            You can change the columns as your need
        </div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                     Display Your Data
                    <small>Sorting in local datasource</small>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" onclick="history.back();" class="btn btn-clean btn-icon-sm" data-toggle="tooltip" title="Back">
                        <i class="la la-long-arrow-left"></i>
                        
                    </button>
                    &nbsp;
                    <span data-toggle="tooltip" title="display you files">
                        <button type="button" class="btn btn-outline-brand" style="width: 100px;" data-toggle="modal" data-target="#donerFilesModal">
                            <i class="fa fa-file-download"></i> 
                        </button>
                    </span>
                    &nbsp;
                    <span title="Donor File Upload Instructions" data-toggle="tooltip">
                        <button type="button" class="btn btn-outline-brand" style="width: 100px;" data-target='#instructionsModal' data-toggle="modal">
                            <i class="fa fa-info"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_status">
                                            <option value="">All</option>
                                            <option value="1">Pending</option>
                                            <option value="2">Delivered</option>
                                            <option value="3">Canceled</option>
                                            <option value="4">Success</option>
                                            <option value="5">Info</option>
                                            <option value="6">Danger</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Type:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_type">
                                            <option value="">All</option>
                                            <option value="1">Online</option>
                                            <option value="2">Retail</option>
                                            <option value="3">Direct</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                        <a href="#" class="btn btn-default kt-hidden">
                            <i class="la la-cart-plus"></i> New Order
                        </a>
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <div class="kt-datatable" id="ajax_data"></div>

            <!--end: Datatable -->
        </div>
    </div>
</div>

<!-- end:: Content -->

<!--End::Row-->
{% endblock content%}


{% block customjs %}
<!--begin::Page Scripts(used by this page) -->
<script src="{% static 'assets/js/pages/crud/metronic-datatable/base/local-sort.js' %}" type="text/javascript"></script>
<!--begin::Page Vendors(used by this page) -->
<script src="{% static 'assets/plugins/custom/jstree/jstree.bundle.js' %}" type="text/javascript"></script>

<!--end::Page Vendors -->

<!--begin::Page Scripts(used by this page) -->
<script src="{% static 'assets/js/pages/components/extended/treeview.js' %}" type="text/javascript"></script>

<!--end::Page Scripts -->

<script>
    // this to delay the doner files but show the spinner first
    var donerFilesSpinner = $('#donerFilesSpinner');
    var donerFilesTree = $('#donerFilesTree');

    // This event is fired when the modal has been made visible to the user 
    $('#donerFilesModal').on('shown.bs.modal', function (e) {
        //$('#donerFilesModal').modal('handleUpdate'); // to make Dynamic heights
        setTimeout(function(){
            // this will be ajax request to grab users files

            // hide the spinner
            //donerFilesSpinner.addClass("d-none");
            donerFilesSpinner.fadeOut(1000, function(){
                donerFilesTree.fadeIn();
            });

            // show the tree view
            //donerFilesTree.removeClass("d-none");
            //donerFilesTree.delay(5000).fadeIn().removeClass("d-none");


        }, 3000);
      });
</script>
{% endblock customjs %}