[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bpython = "*"
termcolor = "*"

[packages]
pathtools = "*"
django = "*"
pillow = "*"
numpy = "*"
pandas = "*"
xlrd = "*"
pandas-datareader = "*"
djangorestframework = "*"
django-storages = "*"
stripe = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-maintenance-mode = "*"
weasyprint = "*"
xhtml2pdf = "*"
pip = "*"
timeago = "*"
six = "*"
django-widget-tweaks = "*"
django-countries = "*"
gunicorn = "*"
whitenoise = "*"
django-ipware = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
django-allauth = "*"
pathlib = "*"
setuptools = "*"
lxml = "*"
django-extensions = "*"
python-dateutil = "*"
google-auth = "*"
rsa = "*"
jedi = "*"
email-validator = "*"
datetime-extractor = "*"
google-api-core = "*"
requests = "*"
openpyxl = "*"
pandas-schema = "*"
jinja2 = "*"
reportlab = "*"
cachetools = "*"
django-session-timeout = "*"

[requires]
python_version = "3.8"
