[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "*"
pathtools = "*"
django = "*"
pillow = "*"
djangorestframework = "*"
django-storages = "*"
stripe = "*"
django-maintenance-mode = "*"
django-widget-tweaks = "*"
django-countries = "*"
django-ipware = "*"
django-allauth = "*"
django-extensions = "*"
django-session-timeout = "*"
six = "*"
whitenoise = "*"
gunicorn = "*"
xhtml2pdf = "*"
weasyprint = "*"
openpyxl = "*"
pandas = "*"
xlrd = "*"
pandas-datareader = "*"
numpy = "*"
timeago = "*"
lxml = "*"
reportlab = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
termcolor = "*"
prettyprinter = "*"
faker = "*"
pip = "*"
google-auth = "*"
cffi = "*"
setuptools = "*"
protobuf = "*"
wheel = "*"
google-api-core = "*"
pygments = "*"
bpython = "*"
simplejson = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
