[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-storages = "*"
django-maintenance-mode = "*"
django-widget-tweaks = "*"
django-countries = "*"
django-ipware = "*"
django-allauth = "*"
django-extensions = "*"
django-session-timeout = "*"
whitenoise = "*"
six = "*"
pillow = "*"
channels = "*"
daphne = "*"
pytz = "*"
timeago = "*"
pandas = "*"
openpyxl = "*"
pandas-datareader = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"
pathtools = "*"
google-auth = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauthlib = "*"
faker = "*"
stripe = "*"
weasyprint = "*"
xhtml2pdf = "*"
psycopg2-binary = "*"
simplejson = "*"
imblearn = "*"
termcolor = "*"
pypika = "*"
prettyprinter = "*"
bpython = "*"
gunicorn = "*"
fpdf2 = "*"
fpdf = "*"
reportlab = "*"
setuptools = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.9"
