<form class="kt-form kt-form--fit mb-10" id='all-users-form-report-filter'>
    {{ csrf }}

    <div class="row mb-8">
        <div class="col-lg-3 mb-lg-0 mb-6">
            <label class="checkbox checkbox-rounded my-1">First Name:
                <input class="users-reports-filters-lbl-display" type="checkbox"
                       data-col-name="first-name">
                <span class="ml-1"></span>
            </label>
            <input type="text" class="form-control datatable-input reports-filter-input" placeholder="Enter First Name"
                   id="users-filter-first-name" name="users-filter-first-name">
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
            <label class="checkbox checkbox-rounded my-1">Last Name:
                <input class="users-reports-filters-lbl-display" type="checkbox"
                       data-col-name="first-name">
                <span class="ml-1"></span>
            </label>
            <input type="text" class="form-control datatable-input reports-filter-input" placeholder="Enter Last Name"
                   id="users-filter-last-name" name="users-filter-last-name">
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
            <label class="checkbox checkbox-rounded my-1">Email Address:
                <input class="users-reports-filters-lbl-display" type="checkbox"
                       data-col-name="first-name">
                <span class="ml-1"></span>
            </label>
            <input type="text" class="form-control datatable-input reports-filter-input" placeholder="Email Address"
                   id="users-filter-email" name="users-filter-email">
        </div>

        <div class="col-lg-3 mb-lg-0 mb-6">
            <label class="checkbox checkbox-rounded my-1">Address:
                <input class="lbl-reports-filter-display" type="checkbox"
                       data-col-name="address">
                <span class="ml-1"></span>
            </label>
            <input type="text" class="form-control datatable-input reports-filter-input" placeholder="Address"
                   id="gen-filter-address" name="gen-filter-address">
        </div>

    </div>
    <div class="row mb-8">
        <div class="col-lg-3 mb-lg-0 mb-6">
            <label class="checkbox checkbox-rounded my-1">ZIP:
                <input class="lbl-reports-filter-display" type="checkbox"
                       data-col-name="zip">
                <span class="ml-1"></span>
            </label>
            <input type="text" class="form-control datatable-input reports-filter-input" placeholder="ZIP"
                   id="gen-filter-zip" name="gen-filter-zip">
        </div>

        <div class="col-lg-3 mb-lg-0 mb-6">

        </div>
    </div>

</form>