<form class="kt-form kt-form--fit mb-10" id='all-users-form-report-filter'>
    {{ csrf }}

    <div class="row mb-8">
        <div class="col-lg-3 mb-lg-0 mb-6">
            <div class="form-group">
                <label class="checkbox checkbox-rounded my-1">New User:
                    <input class="lbl-reports-filter-display" checked type="checkbox" data-col-name="all-users-filter-sub-plan">
                    <span class="ml-1"></span>
                </label>
                <select class="form-control datatable-input reports-filter-input" name="all-users-filter-sub-plan"
                    id="all-users-filter-sub-plan">
                    <option value="all">All</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>

            </div>
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
            
        </div>
        <div class="col-lg-3 mb-lg-0 mb-6">
            
        </div>

        <div class="col-lg-3 mb-lg-0 mb-6">
            
        </div>

    </div>
    <div class="row mb-8">
        

        <div class="col-lg-3 mb-lg-0 mb-6">

        </div>
    </div>

</form>