<!-- Spinner  -->
<div id="reportsLoaderSpinner" style="display: none">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="spinner-border m-3 text-dark" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only">Please Wait...</span>
            </div>
        </div>
        <div class="row">
            <strong style="font-size: 16px;" class="kt-font-dark">Please wait...</strong>
        </div>
    </div>
</div>
<!-- ./Spinner  -->