 <!-- End Revenu filters dualbox -->
 <div class="card card-custom my-4 border-1" " style="width: 100%;">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                Revenue Filters
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="#" class="btn btn-sm btn-success font-weight-bold">
                <i class="flaticon2-cube"></i> Reports
            </a>
        </div>
    </div>
    <div class="card-body mx-auto">
        <select id="revenu_filters_dual_listbox" class="dual-listbox" multiple
            data-available-title="Revenue Custom Filters" data-selected-title="Selected Filters"
            data-add="<i class='flaticon2-next'></i>"
            data-remove="<i class='flaticon2-back'></i>"
            data-add-all="<i class='flaticon2-fast-next'></i>"
            data-remove-all="<i class='flaticon2-fast-back'></i>">
            <option value="Member Name">Member Name</option>
            <option value="Email">Email</option>
            <option value="Start Offer Date">Start Offer Date</option>
            <option value="Amount">Amount</option>
            <option value="Addition Records">Addition Records</option>
            <option value="Amount Addition/Records">Amount Addition/Records</option>
        </select>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <!-- <a href="#" class="btn btn-light-primary font-weight-bold">Manage</a>
        <a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a> -->
    </div>
</div>
<!-- End Revenu filters dualbox -->


