{% extends 'dashboard/inc/master.html' %}
{% load static %}


{% block title %}
Update About
{% endblock title %}

{% block customcss %}


{% endblock customcss %}

{% block content %}

<section class="mt-3">
	<header>
		<h3>Update Website Details</h3>
	</header>
	<form action="">
		<textarea name="kt-ckeditor-2" id="kt-ckeditor-2"></textarea>
		<br />
		<input type="submit" value="Update" class="btn btn-primary btn-square " />
	</form>
</section>

{% endblock content%}


{% block customjs %}
<!--begin::Page Vendors(used by this page) -->
		<script src="{% static 'assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js' %}" type="text/javascript"></script>

		<!--end::Page Vendors -->

		<!--begin::Page Scripts(used by this page) -->
		<script src="{% static 'assets/js/pages/crud/forms/editors/ckeditor-classic.js' %}" type="text/javascript"></script>
{% endblock customjs %}