{% extends 'dashboard/inc/master.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    Company Settings
{% endblock title %}

{% block customcss %}


{% endblock customcss %}

{% block content %}

    <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

            <!-- begin:: Content -->
            <div class="kt-container kt-grid__item kt-grid__item--fluid mt-3">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="kt-form" id="kt_form" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <!--begin::Portlet-->
                            <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile"
                                 id="kt_page_portlet">
                                <div class="kt-portlet__head kt-portlet__head--lg">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Update the Website Info</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <button type="button" onclick="history.back();"
                                                class="btn btn-clean kt-margin-r-10">
                                            <i class="la la-arrow-left"></i>
                                            <span class="kt-hidden-mobile">Back</span>
                                        </button>
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-brand">
                                                <i class="la la-check"></i>
                                                <span class="kt-hidden-mobile">Save</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">

                                    <div class="row">

                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-8">

                                            <div class="kt-section kt-section--first">
                                                <div class="kt-section__body">
                                                    <h3 class="kt-section__title kt-section__title-lg">Company
                                                        Info:</h3>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="name">Website
                                                            Name</label>
                                                        <div class="col-9">
                                                            {% render_field form.name|add_error_class:"is-invalid" value=object.name class="form-control" type="text" name="name" id="name" %}
                                                            <div class="error invalid-feedback">{% render_field form.name.errors %}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="email">Email
                                                            Address</label>
                                                        <div class="col-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                        class="la la-at"></i></span></div>

                                                                {% render_field form.email|add_error_class:"is-invalid" class="form-control" value=object.email type="email" id="email" name="email" placeholder="Email" aria-describedby="basic-addon1" %}
                                                                <div class="error invalid-feedback">{% render_field form.email.errors %}</div>
                                                            </div>
                                                            <span class="form-text text-muted">
                                                            The email which members contact with website
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="phone">Contact
                                                            Phone</label>
                                                        <div class="col-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                        class="la la-phone"></i></span>
                                                                </div>

                                                                {% render_field form.phone|add_error_class:"is-invalid" class="form-control" type="text" name="phone" placeholder="Phone" value=object.phone aria-describedby="basic-addon1" id="phone" %}
                                                                <div class="error invalid-feedback">{% render_field form.phone.errors %}</div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label"
                                                               for="logo">Logo</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="kt-avatar kt-avatar--outline"
                                                                 id="kt_user_avatar">
                                                                <div class="kt-avatar__holder"
                                                                     style="background-image: url({% static 'assets/media/about/Predict Me Logo.png' %})">
                                                                </div>
                                                                <label class="kt-avatar__upload" for="logo"
                                                                       data-toggle="kt-tooltip" title=""
                                                                       data-original-title="Change Logo">
                                                                    <i class="fa fa-pen"></i>
                                                                    {% render_field form.logo|add_error_class:"is-invalid" type="file" accept=".png, .jpg, .jpeg" name="logo" id="logo" %}
                                                                </label>
                                                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip"
                                                                      title="" data-original-title="Cancel Logo">
                                                                <i class="fa fa-times"></i>
                                                            </span>
                                                            </div>
                                                            <br>
                                                            <div class="error invalid-feedback">{% render_field form.logo.errors %}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="url">Website
                                                            URL</label>
                                                        <div class="col-9">
                                                            <div class="input-group">
                                                                {% render_field form.url|add_error_class:"is-invalid" type="url" value=object.url placeholder="predictme.com" class="form-control" name="url" id="url" %}
                                                                <div class="input-group-append"><span
                                                                        class="input-group-text">.com</span></div>
                                                                <div class="error invalid-feedback">{% render_field form.url.errors %}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label"
                                                               for="description">Description</label>
                                                        <div class="col-9">
                                                            <div class="input-group">

                                                                {% render_field form.description placeholder="Describe Predict ME" class="form-control" name="description" id="description" rows="6" %}
                                                            </div>
                                                            <span class="form-text text-muted">For SEO Enhancements.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row form-group-last">
                                                        <label class="col-3 col-form-label"
                                                               for="keywords">Keywords</label>
                                                        <div class="col-9">
                                                            <div class="input-group">

                                                                {% render_field form.keywords placeholder="Keywords refer to Predict ME" class="form-control" name="keywords" id="keywords" rows="6" %}
                                                            </div>
                                                            <span class="form-text text-muted">For SEO Enhancements.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg">
                                            </div>
                                            <div class="kt-section">
                                                <div class="kt-section__body">
                                                    <h3 class="kt-section__title kt-section__title-lg">Address
                                                        Details:</h3>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label"
                                                               for="country">Country</label>
                                                        <div class="col-9">

                                                            {% render_field form.country type="select" class="form-control" name="country" id="country" %}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="city">City</label>
                                                        <div class="col-9">
                                                            <div class="input-group">
                                                                {% render_field form.city|add_error_class:"is-invalid" type="text" placeholder="City" value=object.city class="form-control" name="city" id="city" %}
                                                                <div class="error invalid-feedback">{% render_field form.city.errors %}</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg">
                                            </div>
                                            <div class="kt-section">
                                                <div class="kt-section__body">
                                                    <h3 class="kt-section__title kt-section__title-lg">
                                                        Administrator:</h3>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="admin_name">Admin
                                                            Name</label>
                                                        <div class="col-9">

                                                            <div class="input-group">
                                                                {% render_field form.admin_name|add_error_class:"is-invalid" type="text" value=object.admin_name placeholder="Admin Name (can be blank)" class="form-control" name="admin_name" id="admin_name" %}
                                                                <div class="error invalid-feedback">{% render_field form.admin_name.errors %}</div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="admin_email">Email
                                                            Address</label>
                                                        <div class="col-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span
                                                                        class="input-group-text"><i
                                                                        class="la la-at"></i></span></div>
                                                                {% render_field form.admin_email|add_error_class:"is-invalid" value=object.admin_email aria-describedby="basic-addon1" type="email" placeholder="Admin Email Address (can be blank)" class="form-control" name="admin_email" id="admin_email" %}
                                                                <div class="error invalid-feedback">{% render_field form.admin_email.errors %}</div>
                                                            </div>
                                                            <span class="form-text text-muted">Email will not be publicly
                                                            displayed.</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg">
                                            </div>
                                            <div class="kt-section kt-section--last">
                                                <div class="kt-section__body">
                                                    <h3 class="kt-section__title kt-section__title-lg">Maintenance:</h3>

                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="status">Website in
                                                            Maintenance
                                                            mode: </label>
                                                        <div class="col-9">

                                                            <div class="kt-checkbox-single">
                                                                {% if object.status == 1 %}
                                                                    <label class="kt-checkbox">
                                                                        {% render_field form.status type="checkbox" checked="checked" name="status" id="status" data-switch="true" data-on-text="Open" data-handle-width="50" data-off-text="Close" data-on-color="success" data-off-color="danger" %}


                                                                    </label>
                                                                {% else %}
                                                                    <label class="kt-checkbox">
                                                                        {% render_field form.status type="checkbox" name="status" id="status" data-switch="true" data-on-text="Open" data-handle-width="50" data-off-text="Close" data-on-color="success" data-off-color="danger" %}

                                                                    </label>
                                                                {% endif %}

                                                            </div>
                                                            <span class="form-text text-muted">
                                                            This will close the website for the members
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label" for="closed_msg">Closed
                                                            Message</label>
                                                        <div class="col-9">
                                                            <div class="input-group">

                                                                {% render_field form.closed_msg placeholder="Closing message" class="form-control" id="closed_msg" name="closed_msg" rows="6" %}
                                                            </div>
                                                            <span class="form-text text-muted">The close message will
                                                            display when the website is close.</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2"></div>
                                    </div>
                        </form>
                    </div>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content -->
    </div>
    </div>

{% endblock content %}


{% block customjs %}
    <script>
        $(document).ready(function () {
            $("[name='status']").bootstrapSwitch();
        });
    </script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-switch.js' %}"></script>
{% endblock customjs %}