<!-- Columns Dual Box   -->
{% include "data_handler/inc/columns_dualbox.html" %}
<!-- ./Columns Dual Box   -->
<section id="tab-data-table-section">
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-clip ribbon-right px-3">
            <div class="ribbon-target" data-toggle="tooltip" title="options" style="top: 12px;">
                <span class="ribbon-inner"></span>
                <div class="dropdown dropleft dropdown-inline" id="data-table-options-dropdown">
                    <button type="button" class="btn btn-outline-primary btn-icon"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-hor text-white"></i>
                    </button>
                    <div class="dropdown-menu" style="z-index: auto !important;" aria-labelledby="dataHandlerActions">
                        <div class="dropdown-header">
                            Export Data
                        </div>
                        <a href="{% url 'data-handler-excel-download' session_info.pk %}"
                           class="btn font-weight-bolder border-0 dropdown-item data-table-action-item">
                            <i class="fas fa-file-excel text-success d-inline-block  position-relative"
                               style="top: 1px"></i>
                            Excel
                        </a>
                        <a href="{% url 'data-handler-csv-download' session_info.pk %}"
                           class="btn font-weight-bolder border-0 dropdown-item data-table-action-item">
                            <i class="fas fa-file-csv text-dark d-inline-block position-relative" style="top: 1px"></i>
                            CSV
                        </a>
                        <a id='reselectColumnsBtn' href="#" data-toggle="tooltip"
                           data-placement="left" title="Reselect the columns"
                           class="btn font-weight-bolder border-0 dropdown-item data-table-action-item">
                            <i class="text-dark-50 flaticon-list d-inline-block icon-lg position-relative"
                               style="top: 1px"></i>
                            Reselect columns
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#"
                           class="btn border-0 font-weight-bolder text-hover-dark btn-outline-success disabled dropdown-item"
                           disabled style="cursor: not-allowed" id="saveDataFileBtn">
                            <i class="icon-lg la la-save d-inline-block icon-lg position-relative"
                               style="top: 1px"></i>
                            Save Changes
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#"
                           class="btn btn-outline-danger dropdown-item border-0 font-weight-bolder "
                           data-toggle="tooltip"
                           id="deleteDataFileBtn" data-placement="left" title="be careful!">
                            <i class="flaticon2-trash d-inline-block icon-lg position-relative"
                               style="top: 1px"></i>
                            Delete Data File!
                        </a>
                    </div>
                </div>


            </div>
            <div class="container">
                <h3 class="card-title w-100 row" id="top-data-table-toolbar">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" id="searchQuery" class="form-control"
                                       placeholder="Search for...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon" type="button"
                                            id="searchDataTableBtn">
                                        <i class="flaticon2-search-1 icon-md"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3">
                        <div class="form-group">
                            <button type="button" data-toggle="tooltip" title="Undo last change"
                                    class="btn btn-outline-warning disabled"
                                    style="cursor: not-allowed;"
                                    disabled id="undoBtn">
                                <i class="la la-undo-alt"></i>
                            </button>
                            <button type="button" class="btn btn-secondary disabled"
                                    style="cursor: not-allowed;" disabled
                                    id="resetSortTableBtn">
                                <i class="la la-undo-alt"></i> Reset
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 ">
                        <div class="form-group">
                            <div class="btn-group" role="group" aria-label="Data Table Navigation">
                                <button type="button" data-action="first" disabled
                                        class="btn btn-secondary data-table-nav-btns"
                                        data-toggle="tooltip"
                                        title="First Page">
                                    <i class="icon-lg la la-angle-double-left"></i>
                                </button>
                                <button type="button" data-action="previous" disabled
                                        class="btn btn-secondary data-table-nav-btns"
                                        data-toggle="tooltip"
                                        title="Previous 50 records">
                                    <i class="icon-lg la la-angle-left"></i>
                                </button>

                                <button data-action="next" type="button"
                                        class="btn btn btn-secondary data-table-nav-btns"
                                        data-toggle="tooltip"
                                        title="Next 50 records">
                                    <i class="la la-angle-right"></i>
                                </button>
                                <button type="button" data-action="last"
                                        class="btn btn-secondary data-table-nav-btns"
                                        data-toggle="tooltip"
                                        title="Last Page">
                                    <i class="icon-lg la la-angle-double-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
        <div class="card-body p-0">
            <!--begin: Datatable-->
            <section id="donorDataTable">
                <div id="save-row-loader" class="position-relative text-center mx-auto"
                     style="z-index: 1; display: none;">
                    <div class=" w-25  position-absolute" style="left: 38%;">
                        <div class="card card-custom gutter-b border "
                             style="background-color: #EEF0F8;">

                            <div class="card-body ">
                                <h4>Please wait...</h4>
                                <div class="spinner spinner-track spinner-dark spinner-lg mt-7"
                                     style="left: 45%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="dataListTable" class="table-responsive"
                         style="transition: all 0.5s ease-out;">
                    <div class="container position-relative" id="loadingDataSpinner">
                        <div class="row justify-content-center">
                            <div class="col-1 text-center">
                                <div class="position-absolute" style="top: 120px;">
                                    <div class="spinner spinner-primary spinner-lg"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <form method="POST" id="dataFileTableForm" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div style="overflow:auto; height:700px;" id="dataTableWrapper"
                                     class="position-relative tableFixHead">
                                    <table id="data_handler_table" class="table">


                                        <thead class='thead-light mb-2'>
                                        <div id="no-data-watermark" style="display: none;">
                                            <p class="text-danger">
                                                NO RECORDS TO DISPLAY!!
                                            </p>
                                        </div>
                                        <tr></tr>
                                        </thead>

                                        <tbody id="data_handler_body">
                                        <tr></tr>
                                        </tbody>

                                        <tfoot>
                                        <tr>

                                        </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom gutter-b m-auto">

                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm col-md col-lg text-center">
                                            <div class="form-group">
                                                <div class="btn-group" role="group" aria-label="Data Table Navigation">
                                                    <button type="button" data-action="first" disabled
                                                            class="btn btn-secondary data-table-nav-btns"
                                                            data-toggle="tooltip"
                                                            title="First Page">
                                                        <i class="icon-lg la la-angle-double-left"></i>
                                                    </button>
                                                    <button type="button" data-action="previous" disabled
                                                            class="btn btn-secondary data-table-nav-btns"
                                                            data-toggle="tooltip"
                                                            title="Previous 50 records">
                                                        <i class="icon-lg la la-angle-left"></i>
                                                    </button>

                                                    <button data-action="next" type="button"
                                                            class="btn btn btn-secondary data-table-nav-btns"
                                                            data-toggle="tooltip"
                                                            title="Next 50 records">
                                                        <i class="la la-angle-right"></i>
                                                    </button>
                                                    <button type="button" data-action="last"
                                                            class="btn btn-secondary data-table-nav-btns"
                                                            data-toggle="tooltip"
                                                            title="Last Page">
                                                        <i class="icon-lg la la-angle-double-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                <!--end: Datatable-->
            </section>
        </div>
    </div>
</section>