{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->

<head>
    <base href="../../../">
    <meta charset="utf-8"/>
    <title>Register | Predict ME</title>
    <meta name="description" content="Login page Predict ME">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <!--end::Fonts -->

    <!--begin::Page Custom Styles(used by this page) -->
    <link href="{% static 'assets/css/pages/login/login-5.css' %}" rel="stylesheet" type="text/css"/>

    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->

    <!--end::Layout Skins -->

    <link rel="icon" type="image/png" href="{% static 'assets/media/logos/Predict Me Fav.png' %}"/>
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'assets/css/mycolors.css' %}">
    <style>
        .hide-element {
            display: none !important;
        }
    </style>
</head>

<!-- end::Head -->

<!-- begin::Body -->

<body
        class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: #f2f2f2 !important;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand d-flex align-items-center " style="color: #000;">
                <strong>Predict ME</strong>
            </a>
            <div id="navbarSupportedContent" class="collapse navbar-collapse" style="flex-grow: unset;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link "> Home </a></li>
                    <li class="nav-item active"><a href="{% url 'pricing' %}" class="nav-link">
                        Pricing</a></li>
                    <li class="nav-item active"><a href="{% url 'about' %}" class="nav-link "> About </a>
                    </li>
                    <li class="nav-item active"><a href="{% url 'model-desc' %}" class="nav-link "> Model </a>
                    </li>
                    <li class="nav-item active"><a href="{% url 'faq' %}" class="nav-link "> FAQ </a></li>
                    <li class="nav-item active"><a href="{% url 'contact' %}" class="nav-link"> Contact</a>
                    </li>
                    <li class="nav-item active"><a href="{% url 'login' %}" class="nav-link"> Login</a></li>
                    <li class="nav-item active"><a href="{% url 'register' %}" class="nav-link">
                        Register</a></li>

                </ul>
            </div>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        </div>
    </nav>
</header>
<br/><br/>
<!-- begin::Page loader -->

<!-- end::Page Loader -->

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile"
             style="background-image: url({% static 'assets/media/bg/bg-3.jpg' %});">
            <div class="kt-login__left">
                <div class="kt-login__wrapper" style="width: 400px">
                    <div class="kt-login__content">
                        <a class="kt-login__logo" href="#">
                            <img src="{% static 'assets/media/logos/Predict Me Logo.png' %}">
                        </a>
                        <h3 class="kt-login__title">JOIN OUR GREAT COMMUNITY</h3>
                        <span class="kt-login__desc">
                                Predictive Modeling techniques to increase the likelihood of future donations for
                                nonprofit organizations.
                                Predict donors that will donate in the future based on your data
                            </span>
                        <div class="kt-login__actions">
                            <a href="{% url 'login' %}" class="btn btn-outline-brand btn-pill"
                               style="line-height: 26px;">Already have an Account?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-login__divider">
                <div></div>
            </div>
            <div class="kt-login__right">
                <div class="kt-login__wrapper" style="width: 600px;">
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Register New User</h3>
                        </div>
                        <div class="kt-login__form">
                            <form class="kt-form" method="POST" id="registerForm" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="First Name *"
                                               name="first_name" autocomplete="off" value="{{ input_data.first_name }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.first_name %}

                                    </div>
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Last Name *"
                                               name="last_name" autocomplete="off" value="{{ input_data.last_name }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.last_name %}

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Email Address *"
                                               name="email" autocomplete="off" value="{{ input_data.email }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.email %}

                                    </div>
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Phone Number"
                                               name="phone" autocomplete="off" value="{{ input_data.phone }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.phone %}

                                    </div>
                                </div>

                                <div class="form-row">



                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <select name="country" id="country" class="form-control">
                                            <option value="US" selected="selected">United States</option>
                                            <option value="Afganistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bonaire">Bonaire</option>
                                            <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Ter">British Indian Ocean Ter
                                            </option>
                                            <option value="Brunei">Brunei</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Canary Islands">Canary Islands</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic
                                            </option>
                                            <option value="Chad">Chad</option>
                                            <option value="Channel Islands">Channel Islands</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos Island">Cocos Island</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cote DIvoire">Cote DIvoire</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Curaco">Curacao</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="East Timor">East Timor</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands">Falkland Islands</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Ter">French Southern Ter</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Great Britain">Great Britain</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Greenland">Greenland</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Hawaii">Hawaii</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="India">India</option>
                                            <option value="Iran">Iran</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Isle of Man">Isle of Man</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea North">Korea North</option>
                                            <option value="Korea Sout">Korea South</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Laos">Laos</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libya">Libya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macau">Macau</option>
                                            <option value="Macedonia">Macedonia</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Martinique">Martinique</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mayotte">Mayotte</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Midway Islands">Midway Islands</option>
                                            <option value="Moldova">Moldova</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montserrat">Montserrat</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Nambia">Nambia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherland Antilles">Netherland Antilles</option>
                                            <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                            <option value="Nevis">Nevis</option>
                                            <option value="New Caledonia">New Caledonia</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Niue">Niue</option>
                                            <option value="Norfolk Island">Norfolk Island</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palau Island">Palau Island</option>
                                            <option value="Palestine">Palestine</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Phillipines">Philippines</option>
                                            <option value="Pitcairn Island">Pitcairn Island</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Republic of Montenegro">Republic of Montenegro</option>
                                            <option value="Republic of Serbia">Republic of Serbia</option>
                                            <option value="Reunion">Reunion</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russia">Russia</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="St Barthelemy">St Barthelemy</option>
                                            <option value="St Eustatius">St Eustatius</option>
                                            <option value="St Helena">St Helena</option>
                                            <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                            <option value="St Lucia">St Lucia</option>
                                            <option value="St Maarten">St Maarten</option>
                                            <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                            <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                            <option value="Saipan">Saipan</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="Samoa American">Samoa American</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syria">Syria</option>
                                            <option value="Tahiti">Tahiti</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania">Tanzania</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tokelau">Tokelau</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Erimates">United Arab Emirates</option>
                                            <option value="United States of America">United States of America
                                            </option>
                                            <option value="Uraguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Vatican City State">Vatican City State</option>
                                            <option value="Venezuela">Venezuela</option>
                                            <option value="Vietnam">Vietnam</option>
                                            <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                            <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                            <option value="Wake Island">Wake Island</option>
                                            <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zaire">Zaire</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </select>
                                        {% include "users/inc/display_errors.html" with errors=input_errors.country %}

                                    </div>
                                    <div class="form-group col">
                                        <select class="form-control" name="state" id="state">
                                            <option value="0" selected disabled hidden>Choose State *</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                            <option value="Arizona">Arizona</option>
                                            <option value="Arkansas">Arkansas</option>
                                            <option value="California">California</option>
                                            <option value="Colorado">Colorado</option>
                                            <option value="Connecticut">Connecticut</option>
                                            <option value="Delaware">Delaware</option>
                                            <option value="District of Columbia">District of Columbia</option>
                                            <option value="Florida">Florida</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Hawaii">Hawaii</option>
                                            <option value="Idaho">Idaho</option>
                                            <option value="Illinois">Illinois</option>
                                            <option value="Indiana">Indiana</option>
                                            <option value="Iowa">Iowa</option>
                                            <option value="Kansas">Kansas</option>
                                            <option value="Kentucky">Kentucky</option>
                                            <option value="Louisiana">Louisiana</option>
                                            <option value="Maine">Maine</option>
                                            <option value="Maryland">Maryland</option>
                                            <option value="Massachusetts">Massachusetts</option>
                                            <option value="Michigan">Michigan</option>
                                            <option value="Minnesota">Minnesota</option>
                                            <option value="Mississippi">Mississippi</option>
                                            <option value="Missouri">Missouri</option>
                                            <option value="Montana">Montana</option>
                                            <option value="Nebraska">Nebraska</option>
                                            <option value="Nevada">Nevada</option>
                                            <option value="New Hampshire">New Hampshire</option>
                                            <option value="New Jersey">New Jersey</option>
                                            <option value="New Mexico">New Mexico</option>
                                            <option value="New York">New York</option>
                                            <option value="North Carolina">North Carolina</option>
                                            <option value="North Dakota">North Dakota</option>
                                            <option value="Northern Marianas Islands">Northern Marianas Islands
                                            </option>
                                            <option value="Ohio">Ohio</option>
                                            <option value="Oklahoma">Oklahoma</option>
                                            <option value="Oregon">Oregon</option>
                                            <option value="Pennsylvania">Pennsylvania</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Rhode Island">Rhode Island</option>
                                            <option value="South Carolina">South Carolina</option>
                                            <option value="South Dakota">South Dakota</option>
                                            <option value="Tennessee">Tennessee</option>
                                            <option value="Texas">Texas</option>
                                            <option value="Utah">Utah</option>
                                            <option value="Vermont">Vermont</option>
                                            <option value="Virginia">Virginia</option>
                                            <option value="Virgin Islands">Virgin Islands</option>
                                            <option value="Washington">Washington</option>
                                            <option value="West Virginia">West Virginia</option>
                                            <option value="Wisconsin">Wisconsin</option>
                                            <option value="Wyoming">Wyoming</option>
                                        </select>
                                        {% include "users/inc/display_errors.html" with errors=input_errors.state %}

                                    </div>

                                     <div class="form-group col">
                                        <input class="form-control" type="text" id="city" placeholder="City *"
                                               name="city" autocomplete="off" value="{{ input_data.city }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.city %}
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Street Address *"
                                               name="street_address" autocomplete="off" value="{{ input_data.street_address }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.street_address %}

                                    </div>

                                    <div class="form-group col">
                                        <input class="form-control" type="text" id="zip" placeholder="Zip Code *"
                                               name="zip" autocomplete="off" value="{{ input_data.zip }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.zip %}

                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="form-group col">
                                        <select name="org_type" id="org_type" class="form-control">
                                            <option selected disabled>Organization Type *</option>
                                            <option value="Higher Education">Higher Education</option>
                                            <option value="Arts and Culture">Arts and Culture</option>
                                            <option value="Other Education">Other Education</option>
                                            <option value="Health related">Health related</option>
                                            <option value="Hospitals and Primary Care">Hospitals and Primary Care
                                            </option>
                                            <option value="Human and Social Services">Human and Social Services
                                            </option>
                                            <option value="Environment">Environment</option>
                                            <option value="Animal">Animal</option>
                                            <option value="International">International</option>
                                            <option value="Religion">Religion related</option>
                                            <option value="Other">
                                                <b>Other (Enter it manually)</b>
                                            </option>
                                        </select>
                                        {% include "users/inc/display_errors.html" with errors=input_errors.org_type %}
                                        <input class="form-control hide-element" type="text" value="{{ input_data.other_org_type }}"
                                               placeholder="Other Organization Type" name="other_org_type"
                                               autocomplete="off" id="other_org_type">
                                               {% include "users/inc/display_errors.html" with errors=input_errors.other_org_type %}


                                    </div>
                                    <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Organization Website"
                                               name="org_website" autocomplete="off" value="{{ input_data.org_website }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.org_website %}

                                    </div>

                                      <div class="form-group col">

                                        <input class="form-control" type="text" placeholder="Organization Name *"
                                               name="org_name" autocomplete="off" value="{{ input_data.org_name }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.org_name %}

                                    </div>


                                </div>

                                <div class="form-row">


                                     <div class="form-group col">
                                        <input class="form-control" type="text" placeholder="Job Title"
                                               name="job_title" autocomplete="off" value="{{ input_data.job_title }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.job_title %}

                                    </div>
                                     <div class="form-group col">
                                        <select class="form-control" id="annualRevenue" name="annual_revenue">
                                            <option selected disabled>Annual Revenue</option>
                                            <option value="$5,000 - $50,000">$5,000 - $50,000</option>
                                            <option value="$50,000 - $100,000">$50,000 - $100,000</option>
                                            <option value="$100,000 - $250,000">$100,000 - $250,000</option>
                                            <option value="$250,000 - $500,000">$250,000 - $500,000</option>
                                            <option value="$500,000 - $1 million">$500,000 - $1 million</option>
                                            <option value="$1 million - $5 million">$1 million - $5 million</option>
                                            <option value="$5 million - $10 million">$5 million - $10 million</option>
                                            <option value="$10 million or more">$10 million or more</option>

                                        </select>

                                        {% include "users/inc/display_errors.html" with errors=input_errors.annual_revenue %}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <input class="form-control" type="number" placeholder="Total Staff"
                                               name="total_staff" autocomplete="off" value="{{ input_data.total_staff }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.total_staff %}
                                    </div>

                                    <div class="form-group col">
                                        <input class="form-control" type="number" placeholder="Number of Volunteer"
                                               name="number_volunteer" autocomplete="off" value="{{ input_data.number_volunteer }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.number_volunteer %}
                                    </div>

                                    <div class="form-group col">
                                        <input class="form-control" type="number"
                                               placeholder="Number of Board Members" name="number_board_members"
                                               autocomplete="off" value="{{ input_data.number_board_members }}">
                                        {% include "users/inc/display_errors.html" with errors=input_errors.number_board_members %}
                                    </div>
                                </div>


                                <div class="row kt-login__extra">
                                    <div class="col kt-align-left">

                                        <label class="kt-checkbox">
                                            <input type="checkbox" value="1" name="accepted_privacy_terms"> Accepts <a
                                                href="{% url 'privacy-policy' %}" target="_blank">Privacy Terms</a>
                                            *
                                            <span></span>
                                        </label>
                                        {% include "users/inc/display_errors.html" with errors=input_errors.accepted_privacy_terms %}
                                    </div>
                                </div>
                                <div class="kt-login__actions">
                                    <input style="line-height: 26px" value="Sign up" disabled
                                           class="btn btn-brand btn-pill btn-elevate" id="registerBtn"
                                           type="submit"/>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->
<!-- begin:: Footer -->
<footer class="kt-footer  kt-footer--extended  kt-grid__item " id="kt_footer">
    <div class="kt-footer__bottom">
        <div class="kt-container--fluid px-4 ">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <a href="/" class="text-dark">
                        <div class="kt-footer__copyright">
                            &nbsp;&copy;&nbsp;
                            <a class="text-dark" href="/" target="_blank">Predict Me 2020</a>
                        </div>
                    </a>

                </div>
                <div class="kt-footer__menu">
                    <a href="{% url 'faq' %}" target="_blank"> FAQ </a>
                    <a href="{% url 'contact' %}" target="_blank">Contact</a>
                    <a href="{% url 'terms' %}" target="_blank">Terms</a>.
                    <a href="{% url 'privacy-policy' %}" target="_blank">Privacy Policy</a>.
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end:: Footer -->
<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#374afb",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script src="{% static 'assets/js/pages/custom/login/login-general.js' %}" type="text/javascript"></script>

<!--end::Page Scripts -->
<!--Custom js-->
<script>
    function sortSelectOptions(selector, skip_first) {
        // this function to sort alphabetical the organization type
        var options = (skip_first) ? $(selector + ' option:not(:first)') : $(selector + ' option');
        var arr = options.map(function (_, o) {
            return {
                t: $(o).text(),
                v: o.value,
                s: $(o).prop('selected')
            };
        }).get();
        arr.sort(function (o1, o2) {
            var t1 = o1.t.toLowerCase(),
                t2 = o2.t.toLowerCase();
            return t1 > t2 ? 1 : t1 < t2 ? -1 : 0;
        });
        options.each(function (i, o) {
            o.value = arr[i].v;
            $(o).text(arr[i].t);
            if (arr[i].s) {
                $(o).attr('selected', 'selected').prop('selected', true);
            } else {
                $(o).removeAttr('selected');
                $(o).prop('selected', false);
            }
        });
    }

    $(document).ready(function () {
        // $("#org_type").append($("#org_type option").remove().sort(function (a, b) {
        //     var at = $(a).text(), bt = $(b).text();
        //     return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
        // }));
        sortSelectOptions('#org_type', true);

        // this when user choose the country select menu
        $('#country').on('change', function () {
            let cntSlc = $("#country");
            let state = $("#state");
            let city = $("#city");
            if (cntSlc.val() === "US") {
                state.removeAttr("disabled");
                city.removeAttr("disabled");
                state.parent('div').removeClass("hide-element");
                city.parent('div').removeClass("hide-element");
            } else {
                // disable the unwanted controls
                state.attr("disabled", "disabled");
                city.attr("disabled", "disabled");
                state.parent('div').addClass("hide-element");
                city.parent('div').addClass("hide-element");
                // state.setAttribute("disabled", "disabled")
            }
        });

        // this if user choose the other org type option
        $("#org_type").on('change', function () {
            let orgType = $("#org_type");
            let otherOrgType = $("#other_org_type");
            if (orgType.val() === "Other") {
                otherOrgType.removeClass("hide-element");
            } else {
                otherOrgType.addClass("hide-element");
            }
        });

        // disable register button by default if the new user not check the accept privacy terms
        // and does not enter all valid data
        $('#registerForm :checkbox').change(function () {
            // this will contain a reference to the checkbox
            if (this.checked) {
                // the checkbox is now checked
                $('#registerBtn').removeAttr('disabled');
            } else {
                // the checkbox is now no longer checked
                $('#registerBtn').attr("disabled", "disabled");
            }
        });
    })
</script>
<!--./Custom js-->
</body>

<!-- end::Body -->

</html>