/* My Custom Colors and some styles */

.btn-danger {
    background-color: #fd397a !important;
    border-color: #fd397a !important;
    color: #ffffff;
}

.btn-danger:hover {
    color: #fff;
    background-color: #fd1361 !important;
    border-color: #fc0758 !important;
}

.btn-outline-danger:hover {
    color: #ffffff;
    background-color: #fd397a !important;
    border-color: #fd397a !important;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #fd397a !important;
    border-color: #fd397a !important;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #fd397a !important;
    border-color: #fd397a !important;
}

.kt-badge--danger {
    color: #ffffff !important;
    background: #fd397a !important;
}

.kt-font-danger {
    color: #fd397a !important;
}

.alert.alert-danger {
    background: #fd397a !important;
    border: 1px solid #fd397a !important;
    color: #ffffff;
}

.alert.alert-outline-danger .alert-text {
    color: #fd397a !important;
}



.alert.alert-outline-danger {
    border: 1px solid #fd397a !important;
    color: #fd397a !important;
}

.alert.alert-outline-danger .alert-icon i {
    color: #fd397a !important;
}

.kt-ribbon--danger .kt-ribbon__target {
    background-color: #fd397a !important;
    color: #ffffff;
}

.b-u,
.u-b {
    font-weight: bold;
    text-decoration: underline;
}

/* Spinner style */
#donerFilesSpinner{
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 35px;
    top: 21px;
    
}
/* Spinner style */

/* Custom font size */
.form-group label{
    font-size: 1.1rem !important;
}
/* Custom font size */

/* display errors in form */
.errorlist{
    list-style-type: none;
    padding-left: 2px;
}
.errorlist li:before{
    content: "✗ ";
    /*content: "❌ ";*/
}
/* display errors in form */

/* Pay extra fees form */
section#payExtraRecordsSection form#payExtraFeesForm input.form-control{
    cursor: not-allowed !important;
}
/* Pay extra fees form */

#upgradeSubscriptionSection .kt-spinner.kt-spinner--dark:before{
        border: 2px solid #FFF !important;
}