{% extends 'members_app/inc/master.html' %}
{% load static %}

{% block title %}
Email
{% endblock title %}

{% block pagename %}
Email Notifications
{% endblock pagename %}

{% block content %}

<!-- begin:: Content -->
<div class="flex-row-fluid ml-lg-8">
    <!--begin::Card-->
    <div class="card card-custom">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Email Settings</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Change your email settings</span>
            </div>
            <div class="card-toolbar">
                <button type="reset" class="btn btn-success mr-2">Save Changes</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <form class="form">
            <div class="card-body">
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Setup Email Notification:</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Email Notification</label>
                    <div class="col-lg-9 col-xl-6">
                        <span class="switch switch-sm">
                            <label>
                                <input type="checkbox" checked="checked" name="email_notification_1">
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Send Copy To Personal Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <span class="switch switch-sm">
                            <label>
                                <input type="checkbox" name="email_notification_2">
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="separator separator-dashed my-10"></div>
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Activity Related Emails:</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right">When To Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="checkbox-list">
                            <label class="checkbox">
                            <input type="checkbox">You have new notifications.
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox">You're sent a direct message
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox" checked="checked">Someone adds you as a connection
                            <span></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right">When To Escalate Emails</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="checkbox-list">
                            <label class="checkbox checkbox-primary">
                            <input type="checkbox">Upon new order.
                            <span></span></label>
                            <label class="checkbox checkbox-primary">
                            <input type="checkbox">New membership approval
                            <span></span></label>
                            <label class="checkbox checkbox-primary">
                            <input type="checkbox" checked="checked">Member registration
                            <span></span></label>
                        </div>
                    </div>
                </div>
                <div class="separator separator-dashed my-10"></div>
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Updates From Keenthemes:</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Email You With</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="checkbox-list">
                            <label class="checkbox">
                            <input type="checkbox">News about Keenthemes products and feature updates
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox">Tips on getting more out of Keen
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox" checked="checked">Things you missed since you last logged into Keen
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox" checked="checked">News about Metronic on partner products and other services
                            <span></span></label>
                            <label class="checkbox">
                            <input type="checkbox" checked="checked">Tips on Metronic business products
                            <span></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>

<!-- end:: Content -->

{% endblock content%}

{% block customjs %}
<script src="{% static 'assets/js/pages/custom/user/profile.js' %}" type="text/javascript"></script>
{% endblock customjs %}