{% extends 'members_app/inc/master.html' %}
{% load static %}

{% block title %}
Email Settings
{% endblock title %}

{% block content_header %}
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">


    </div>
</div>

<!-- end:: Content Head -->
{% endblock content_header %}

{% block content %}
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>

        <!--End:: App Aside Mobile Toggle-->

        <!--Begin:: App Aside-->
        {% include 'members_app/inc/profile_left_side.html' %}
        <!--End:: App Aside-->

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Email Notifications <small>control when and how often
                                    Metronic sends emails to you</small></h3>
                            </div>
                        </div>
                        <form class="kt-form kt-form--label-right">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <h3 class="kt-section__title kt-section__title-sm">Setup Email
                                                    Notification:</h3>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Email Notification</label>
                                            <div class="col-lg-9 col-xl-6">
																			<span class="kt-switch">
																				<label>
																					<input type="checkbox"
                                                                                           checked="checked"
                                                                                           name="email_notification_1">
																					<span></span>
																				</label>
																			</span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-last row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Send Copy To Personal
                                                Email</label>
                                            <div class="col-lg-9 col-xl-6">
																			<span class="kt-switch">
																				<label>
																					<input type="checkbox"
                                                                                           name="email_notification_2">
																					<span></span>
																				</label>
																			</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button type="reset" class="btn btn-brand btn-bold">Change Password</button>&nbsp;
                                            <button type="reset" class="btn btn-secondary">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--End:: App Content-->
    </div>

    <!--End::App-->
</div>

<!-- end:: Content -->

{% endblock content%}

{% block customjs %}
<script src="{% static 'assets/js/pages/custom/user/profile.js' %}" type="text/javascript"></script>
{% endblock customjs %}