<!--Start:: Invoices Modal-->
<div class="modal fade" id="lastInvoicesModel" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="lastInvoicesModel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Recent Invoices</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::Section-->
                <div class="kt-section">
                                <span class="kt-section__info">
                                    Here the last 5 Invoices that created
                                </span>
                    <div class="kt-section__content">
                        <table class="table table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>#</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th scope="row">INV 236</th>
                            </tr>
                           <tr class="text-center">
                                <th scope="row">INV 6358</th>
                            </tr>
                           <tr class="text-center">
                                <th scope="row">INV 333</th>
                            </tr>
                            <tr class="text-center">
                                <th scope="row">INV 36654</th>
                            </tr>
                            <tr class="text-center">
                                <th scope="row">INV 20025</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--end::Section-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--End:: Invoices Modal-->