{% if messages %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            {% for message in messages %}
            {{ message.tags }}
                <div class="alert alert-outline-{{ message.tags }} fade show" role="alert">
                    {% if message.tags == "success" %}
                        <div class="alert-icon"><i class="flaticon2-check-mark"></i></div>
                        {% elif message.tags == "info" %}
                             <div class="alert-icon"><i class="flaticon2-information"></i></div>
                        {% elif message.tags == "warning" %}
                            <div class="alert-icon"><i class="flaticon2-warning"></i></div>
                        {% elif message.tags == "error" %}
                            <div class="alert-icon"><i class="flaticon2-cross"></i></div>
                    {% endif %}
                    <div class="alert-text">{{ message }}</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endif %}

