{% load static %}

<!-- Modal -->
<div class="modal fade" id="paymentModal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Payment Terms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <h5 class="text-center">
                        <b>
                            Predict Me Payment Terms and Agreement <br/>
                            Last revised on: December 4, 2019 <br/>
                            No setup fees, no customization fees and no cancellation fees.
                        </b>
                    </h5>
                    <br/>
                    <p class="lead">
                        <b>Payment Terms.</b> If you purchase Predict Me Services, then these payment terms apply to
                        your purchase and you agree to them.
                    </p>

                    <ol type="1">
                        <li class="my-4">
                            <b>Charges. </b>If there is a charge associated with a portion of the Services, you agree to
                            pay that charge. The price for Predict Me paid Services includes a charge for the product
                            and a charge for taxes. You are solely responsible for paying such taxes or other charges.
                            Taxes are calculated based on your location at the time your Predict Me account was
                            registered. We may suspend or cancel the Services if we do not receive an on time, full
                            payment from you. Suspension or cancellation of the Services for non-payment could result in
                            a loss of access to and use of your account and its content.
                        </li>
                        <li class="my-4">
                            <b>Your Billing Account. </b>To pay the charges for a Service, you will be asked to provide
                            a payment method at the time you sign up for that Service. You can access and change your
                            billing information and payment method on the Predict Me website. Additionally, you agree to
                            permit Predict Me to use any updated account information regarding your selected payment
                            method provided by your issuing bank or the applicable payment network. You agree to
                            promptly update your account and other information, including your email address and payment
                            method details, so we can complete your transactions and contact you as needed in connection
                            with your transactions. Changes made to your billing account will not affect charges we
                            submit to your billing account before we could reasonably act on your changes to your
                            billing account.
                        </li>
                        <li class="my-4">
                            <b>Billing. </b>By providing Predict Me with a payment method, you (i) represent that you
                            are authorized to use the payment method that you provided and that any payment information
                            you provide is true and accurate; (ii) authorize Predict Me to charge you for the Services
                            or available content using your payment method; and (iii) authorize Predict Me to charge you
                            for any paid feature of the Services that you choose to sign up for or use while these Terms
                            are in force. We may bill you (a) in advance; (b) at the time of purchase; (c) shortly after
                            purchase; or (d) on a recurring basis for subscription Services. Also, we may charge you up
                            to the amount you have approved, and we will notify you in advance of any change in the
                            amount to be charged for recurring subscription Services. We may bill you at the same time
                            for more than one of your prior billing periods for amounts that haven't previously been
                            processed.
                        </li>
                        <li class="my-4">
                            <b>Recurring Payments. </b>When you purchase the Services on a subscription basis (e.g.,
                            monthly or annually (as applicable)), you acknowledge and agree that you are authorizing
                            recurring payment, and payments shall be made to Predict Me by the method you have chosen at
                            the recurring intervals chosen by you, until the subscription for that Service is terminated
                            by you or by Predict Me. By authorizing recurring payments, you are authorizing Predict Me
                            to process payments from your designated credit or debit card account. Subscription fees are
                            generally billed or charged in advance of the applicable subscription period. If any payment
                            is returned unpaid or if any credit card or similar transaction is rejected or denied,
                            Predict Me reserves the right to collect any rejection or insufficient funds fee.
                        </li>
                        <li class="my-4">
                            <b>Automatic Renewal. </b>You may choose for Services to automatically renew at the end of a
                            fixed service period. We will remind you by email before any Services renew for a new term,
                            and notify you of any price changes in accordance with section 12. Once we have reminded you
                            that you elected to automatically renew the Services, we may automatically renew your
                            Services at the end of the current service period and charge you the then current price for
                            the renewal term, unless you have chosen to cancel the Services as described below. We will
                            also remind you that we will bill your chosen payment method for the Services renewal,
                            whether it was on file on the renewal date or provided later. We will also provide you with
                            instructions on how you may cancel the Services. You must cancel the Services before the
                            renewal date to avoid being billed for the renewal.
                        </li>
                        <li class="my-4">
                            <b>Online Statement and Errors. </b>Predict Me will provide you with an online billing
                            statement on the Predict Me website, where you can view and print your statement. This is
                            the only billing statement that we provide. If we make an error on your bill, you must tell
                            us within 90 days after the error first appears on your bill. We will then promptly
                            investigate the charge. If you do not tell us within that time, you release us from all
                            liability and claims of loss resulting from the error and we won't be required to correct
                            the error or provide a refund. If Predict Me has identified a billing error, we will correct
                            that error within 90 days.
                        </li>
                        <li class="my-4">
                            <b>Refund Policy. </b>Unless otherwise provided by law or by a particular Service offer, all
                            purchases are final and non-refundable. If you believe that Predict Me has charged you in
                            error, you must contact us within 90 days of such charge. No refunds will be given for any
                            charges more than 90 days old. We reserve the right to issue refunds or credits at our sole
                            discretion. If we issue a refund or credit, we are under no obligation to issue the same or
                            similar refund in the future. This refund policy does not affect any statutory rights that
                            may apply.
                        </li>
                        <li class="my-4">
                            <b>Canceling the Services. </b>You may cancel a Service at any time, with or without cause.
                            To cancel a Service and request a refund, if you are entitled to one, visit the Predict Me
                            website. You should refer back to the offer describing the Services as (i) you may not
                            receive a refund at the time of cancellation; (ii) you may be obligated to pay cancellation
                            charges; (iii) you may be obligated to pay all charges made to your billing account for the
                            Services before the date of cancellation; or (iv) you may lose access to and use of your
                            account when you cancel the Services. If you cancel, your access to the Services ends at the
                            end of your current Service period or, if we bill your account on a periodic basis, at the
                            end of the period in which you canceled.
                        </li>
                        <li class="my-4">
                            <b>Trial-Period Offers. </b>If you are taking part in any trial-period offer, you must
                            cancel the trial Service(s) by the end of the trial period to avoid incurring new charges,
                            unless we notify you otherwise. If you do not cancel the trial Service(s) by the end of the
                            trial period, we may charge you for the Service(s).
                        </li>
                        <li class="my-4">
                            <b>Promotional Offers. </b>From time to time, Predict Me may offer Services for a trial
                            period during which Predict Me will not charge you for the Services. Predict Me reserves the
                            right to charge you for such Services (at the normal rate) in the event that Predict Me
                            determines (in its reasonable discretion) that you are breaching the terms and conditions of
                            the offer.
                        </li>
                        <li class="my-4">
                            <b>Discounts. </b>If you wish to pay annual subscription of the Services, Predict Me’s
                            offers 10% discount rate for the entire annual payment.
                        </li>
                        <li class="my-4">
                            <b>Price Changes. </b>We may change the price of the Services at any time and if you have a
                            recurring purchase, we will notify you by email at least 15 days before the price change. If
                            you do not agree to the price change, you must cancel and stop using the Services before the
                            price change takes effect. If there is a fixed term and price for your Service offer, that
                            price will remain in force for the fixed term.
                        </li>
                        <li class="my-4">
                            <b>Payments to You. </b>If we owe you a payment, then you agree to timely and accurately
                            provide us with any information we need to get that payment to you. You are responsible for
                            any taxes and charges you may incur as a result of this payment to you. You must also comply
                            with any other conditions we place on your right to any payment. If you receive a payment in
                            error, we may reverse or require return of the payment. You agree to cooperate with us in
                            our efforts to do this. We may also reduce the payment to you without notice to adjust for
                            any previous overpayment.
                        </li>
                    </ol>
                </section>
            </div>
            <div class="modal-footer">
                <!--        <button type="button" class="btn text-white text-center" data-toggle="tooltip" title="Not Accept" style="background-color: #fd397a;border-color: #fd397a;width: 52px;" data-dismiss="modal">-->
                <!--			<i class="flaticon2-delete"></i>-->
                <!--		</button>-->
                <button type="button" class="btn btn-primary" style="width: 52px;" data-dismiss="modal" data-toggle="tooltip" title="Accept">
                    <i class="flaticon2-check-mark"></i>
                </button>
            </div>
        </div>
    </div>
</div>