<!-- Modal-->
<div class="modal fade" id="columnsDualBoxModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     role="dialog"
     aria-labelledby="columnsDualBoxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="columnsDualBoxModalLabel">Pick columns</h5>
                <button type="button" style="display: none;" id='closeColumnsDualBoxBtn' class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body pb-0">

                <!--begin::Row-->


                <div class="card card-custom gutter-b mx-auto" style="height: 100%;">

                    <div class="card-body h-100 pb-0">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="col-md-12 col-sm-12 col-lg-5">
                                    <div class="d-inline-flex justify-content-between w-100">
                                        <div class="p-1 mx-3">
                                            <div class="font-weight-bolder" id='avaliableColumnsTotal'>
                                                <h5>Columns total &nbsp;<b></b></h5>

                                            </div>
                                        </div>

                                        <div class="p-1">
                                            <h6 class="font-weight-bolder">Default Data Format</h6>
                                        </div>
                                    </div>


                                    <ul class="list-group border-bottom border-left w-100" id="availableColumnsList"
                                        style="overflow-y: scroll; height: 400px;">

                                    </ul>

                                </div>

                                <div class="col-sm col-md col-lg">
                                    <div id="pick-columns-btns" class="mt-lg-15 mt-sm-5 mt-md-15 text-center">

                                        <button type="button" id="removeAllColumnsBtn" class="btn btn-light ">
                                            <<
                                        </button>
                                        <button type="button" id="removeColumnBtn" class="btn btn-light ">
                                            <
                                        </button>

                                        <button type="button" id="addColumnBtn" class="btn btn-light ">></button>
                                        <button type="button" id="addAllColumnsBtn"
                                                class="btn btn-light ">>>
                                        </button>
                                    </div>
                                    <div id="validate-reset-btns-block" class="mb-10 mt-7">
                                        <button type="button" id='validateColumnsBtn'
                                                class="btn btn-light-primary btn-block font-weight-bold disabled"
                                                style="cursor: not-allowed;"
                                                disabled>Validate
                                        </button>
                                        <button type="button" id="resetColumnBoxBtn" data-toggle="tooltip" title="Reset all the saved changes"
                                                class="btn btn-outline-danger btn-block font-weight-bold">Reset
                                        </button>

                                    </div>


                                </div>

                                <div class="col-md-12 col-sm-12 col-lg-5">
                                    <div class="d-inline-flex justify-content-between w-100">
                                        <div class="p-1">
                                            <div class="font-weight-bolder" id='pickedColumnsTotal'>
                                                <h5>Columns picked &nbsp;<b></b></h5>
                                            </div>
                                        </div>

                                        <div class="p-1">
                                            <h6 class="font-weight-bolder">Confirm Data Format</h6>
                                        </div>
                                    </div>
                                    <!--begin::Table-->

                                    <ul class="list-group border-bottom w-100" id="pickedColumnsList"
                                        style="overflow-y: scroll; height: 400px;">
                                    </ul>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-custom alert-outline-2x alert-light-warning fade show mt-10"
                                         role="alert">

                                        <div class="alert-text">
                                            <ul id="dataFileUploadCheckList" class="pt-0">
                                                <li class="font-weight-bolder">Select Unique ID <span
                                                        id="selectUniqueID"
                                                        class="ml-2 text-danger">&#10060;</span>
                                                </li>
                                                <li class="font-weight-bolder">Minimum select 3 text columns <span
                                                        id="isSelect3Col" class="ml-2 text-danger">&#10060;</span></li>
                                                <li class="font-weight-bolder">Select the data type of selected columns
                                                    <span
                                                            id="isValidateData" class="ml-2 text-danger">&#10060;</span>
                                                </li>
                                                <li class="font-weight-bolder d-none" id="donationFieldLi">Select
                                                    Donation
                                                    Field<span id="donationField"
                                                               class="ml-2 text-danger">&#10060;</span></li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!--End::Row-->
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold mr-auto" id="cancelReuploadBtn">
                    Delete the file &
                    Re-upload
                </button>

                <button id="closeReselectColsModal" type="button" class="btn btn-outline-danger d-none"
                        data-dismiss="modal">Cancel
                </button>
                <button type="button" style="cursor: not-allowed;" class="btn btn-primary  font-weight-bold disabled"
                        disabled
                        id="processPickedColumnsBtn">Process
                </button>
            </div>
        </div>
    </div>
</div>