{% load data_handler_tags %}
<!-- Modal -->
<div class="modal fade" id="extraRecordsModel" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="extraRecordsModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="extraRecordsModelLabel">
          <span class="u-b">
            You have exceeded the allowed records limit
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <!--begin::Portlet-->
        <section id="askPayUpgradeSection">
          <div class="form-group">
            <label class="radio radio-success my-2">
              <input type="radio" name="action" value="pay" data-id="pay" /> Pay $.50 cents per additional record
              <span></span>
            </label>
            <br />
            <label class="radio radio-success my-2">
              <input type="radio" name="action" value="upgrade" data-id="pay" /> Upgrade to the next Subscription plan.
              <span></span>
            </label>
            <br />
            <label class="radio radio-success my-2">
              <input type="radio" name="action" value="cancel" data-id="pay" /> Cancel
              <span></span>
            </label>
          </div>
        </section>
        <!--end::Portlet-->

        <!--begin::Portlet-->
        <section id="payExtraRecordsSection" class="container-lg" style="display: none;">
          <div class="kt-portlet kt-portlet--space">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Member's payment credential information
                </h3>
              </div>
            </div>

            <!--begin::Form-->
              {% include "data_handler/inc/stripe_checkout_form.html" %}
            <!--end::Form-->


          </div>
        </section>
        <!--end::Portlet-->

        <!--begin::Portlet-->
        <section style="display: none;" id="upgradeSubscriptionSection">
          <div class="kt-portlet kt-portlet--space">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Select new subscription plane to upgrade
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <!--begin::Form-->
              <form class="kt-form" id="upgradeSubscriptionForm">


                <div class="form-group row">

                  <div class="col-lg-4 text-center">

                    <label for="upStarter" class="d-block">
                      <span class="d-block">
                        <i class="flaticon-piggy-bank" style="font-size: 5rem;margin-top: 3.6rem;"></i>
                      </span>
                      Starter
                    </label>

                    <label class="radio radio-success">
                      <input name="upgrade_plane" id="upStarter" value="starter" type="radio">
                      <span></span>
                    </label>


                    <span class="form-text text-muted font-weight-bold"></span>

                  </div>

                  <div class="col-lg-4 text-center">

                    <label for="upProfessional" class="d-block">
                      <span class="d-block">
                        <i class="flaticon-gift text-warning" style="font-size: 5rem;margin-top: 3.6rem;"></i>
                      </span>
                      Professional
                    </label>

                    <label class="radio radio-success">
                      <input type="radio" name="upgrade_plane" id="upProfessional" value="professional">
                      <span></span>
                    </label>


                    <span class="form-text text-muted font-weight-bold"></span>

                  </div>

                  <div class="col-lg-4 text-center">

                    <label for="upExpert" class="d-block">
                      <span class="d-block">
                        <i class="flaticon-rocket text-danger" style="font-size: 5rem;margin-top: 3.6rem;"></i>
                      </span>
                      Expert
                    </label>

                    <label class="radio radio-success">
                      <input type="radio" name="upgrade_plane" id="upExpert" value="expert" value="professional">
                      <span></span>
                    </label>


                    <span class="form-text text-muted font-weight-bold"></span>

                  </div>


                </div>


            </div>

            <div class="kt-portlet__foot kt-portlet__foot--fit mb-2">
              <div class="kt-form__actions kt-form__actions--right">
                <div class="row">
                  <div class="col kt-align-left mb-2">

                    {#                                            <button type="reset" class="btn btn-secondary">Cancel</button>#}
                  </div>
                  <div class="col kt-align-right">
                    <span class="form-text text-muted mt-2">* Will send an invoice of transaction to your email</span>
                  </div>
                </div>
              </div>
            </div>
            </form>

            <!--end::Form-->
          </div>
        </section>
        <!--end::Portlet-->
      </div>
      <div class="modal-footer">
        <button type="button" id="backModalBtn" disabled data-toggle="tooltip" class="btn btn-secondary mr-auto"
          style="width: 100px;">
          <i class="flaticon2-left-arrow-1"></i> Back
        </button>


       <!--  <button data-toggle="tooltip" data-action="pay" type="button"
          class="btn btn-success mt-2 purchaseUpgradeExtraBtn" style="width: 130px; display: none;">
          Purchase <i class="icon-md la la-dollar"></i>
        </button> -->
        <!-- <button class="btn btn-success mt-2 purchaseUpgradeExtraBtn" style="display: none;" data-toggle="tooltip" data-action="pay">Submit Payment</button> -->
        <button data-toggle="tooltip" data-action="upgrade" type="button"
          class="btn btn-success mt-2 purchaseUpgradeExtraBtn" style="width: 130px; display: none;">
          Upgrade <i class="icon-md la la-arrow-up"></i>
        </button>
        <button data-toggle="tooltip" id="nextBtn" type="button" class="btn btn-primary" style="width: 130px;">Next <i
            class="la la-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>