

<!-- Modal -->
<div class="modal fade" id="runModelModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="runModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="runModelLabel">Running The Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                      <div id="modelRunResultWrapper">
                          <div id='runModalResults'>

                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-seconday" data-dismiss="modal">Close</button>
                <button type="submit" id="runModelBtn" class="btn btn-outline-danger"
                        data-toggle="tooltip"
                        title="Abort!">
                    Abort
                </button>
            </div>
        </div>
    </div>
</div>
