<!--begin::Form-->
<form class="kt-form" action="/charge" method="post" id="data-handler-payment-form">
    {% csrf_token %}
    <div class="kt-portlet__body">
        <div class="form-group ">
            <label>Full Name</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="la la-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control disabled" name="full_name"
                    placeholder="Full Name" aria-describedby="basic-addon1">
            </div>
            {% comment %}
            <span class="form-text text-muted">Some help content goes here</span>
            {% endcomment %}
        </div>

        <div class="form-group ">
            <label>Email Address</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="la la-at"></i>
                    </span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Email Address"
                    aria-describedby="basic-addon1">
            </div>
            {% comment %}
            <span class="form-text text-muted">Some help content goes here</span>
            {% endcomment %}
        </div>

        <div class="form-group">
            <label for="card-element">
                Credit or debit card
            </label>

            <div class="input-group">
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <div class="form-group row">

            <div class="col-md">
                <label>Purchased records :</label>
                <input type="number" class="form-control" placeholder="0" id="extraRowsPurchased" onkeyup="culcalteExtraRows();"
                    max="{{get_user_membership.data_file_obj.all_records_count}}" />
                <span class="form-text text-muted font-weight-bold"><b>$.50 cents per additional record</b></span>
            </div>

            <div class="col-md">
                <label>Total amount due :</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="la la-dollar"></i>
                        </span>
                    </div>
                    <input type="text" disabled="disabled" readonly class="form-control" name="total_amount_due"
                        placeholder="$" aria-describedby="basic-addon1" id="totlaAmountDue">
                </div>
                <span class="form-text text-muted font-weight-bold"></span>
            </div>

        </div>

        <div class="form-group">
            <div class="input-group">
                <button class="btn btn-success btn-block mt-2">Submit Payment</button>
            </div>
        </div>




    </div>
    <div class="kt-portlet__foot kt-portlet__foot--fit">
        <div class="kt-form__actions kt-form__actions--right">
            <div class="row">
                <div class="col kt-align-left">

                    
                </div>
                <div class="col kt-align-right">
                    <span class="form-text text-muted mt-2"><b>* Will send an invoice of transaction to your
                            email</b></span>
                </div>
            </div>
        </div>
    </div>
</form>

<!--end::Form-->